<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Product Added</title>

</head>

<body>
    <h2>Product Added Successfully </h2>
    <h3>Keep adding more products</h3>
    <a href="/">Back to Home</a>

</body>
</html>
